<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="user.js"></script>
    <title>Register user</title>
</head>
<body>

<div class="text-center" style="padding-top: 40px">
    <h2><b>Register new user</b></h2>
</div>

<div class="container">
    <form class="ui form">
        <div class="field">
            <label>Name</label>
            <input id="name" type="text" name="name" placeholder="Name">
        </div>
        <div class="field">
            <label>E-mail</label>
            <input id="email" type="text" name="email" placeholder="Email">
        </div>
        <div class="field">
            <label>Phone</label>
            <input id="phone" type="text" name="phone" placeholder="Phone">
        </div>
    </form>
    <button id="btn" class="btn-success" type="submit">Submit</button>
    </form>
</div>

</body>
</html>