<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="./homepage.css">

    <title>ANNACASA</title>
</head>

<body>

<div class="bg">

    <button style=" background-color: #86cfc6; border-color: #86cfc6; margin-left: 1180px; margin-top: 30px"
            class="btn btn-primary" type="submit"><a href="http://localhost:8080/rrr/house/adduser" style="color: white">Register</a></button>
    <button style="background-color: #abdbd1; border-color: #abdbd1; margin-top: 30px; margin-left: 15px" class="btn btn-primary" type="submit">Login</button>

    <div class="rect">
        <br>
        <br>
        <div class="logo">
            <img src="./logoPNG.png" class="rounded mx-auto d-block" alt="...">
        </div>
    </div>

</div>

</body>
</html>