<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./house-view.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="house.js"></script>
    <title>Add House</title>
</head>
<body>

<div class="bg">

    <div class="container">
        <div class="rect">
            <div class="loginho">
                <img src="./logoMIN.png" class="rounded mx-auto d-block" alt="...">
            </div>
            <div class="text-form">
                <div class="text-center" style="padding-top: 10px">
                    <h2 style="color: gray">Add your house</h2>
                </div><br>

                <form class="ui form">
                    <div class="field">
                        <label>Address</label>
                        <input id="address" type="text" name="address" placeholder="Address">
                    </div>
                    <div class="field">
                        <label>Type</label>
                        <select id="houseType" class="ui fluid dropdown">
                            <option value="">Type</option>
                            <option value="apartment">Apartment</option>
                            <option value="house">House</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>Rooms</label>
                        <select id="rooms" class="ui fluid dropdown">
                            <option value="">Rooms</option>
                            <option value="T0">T0</option>
                            <option value="T1">T1</option>
                            <option value="T2">T2</option>
                            <option value="T3">T3</option>
                            <option value="T4">T4</option>
                            <option value="T5+">T5+</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Budget €</label>
                        <input id="budget" type="text" name="budget" placeholder="Budget to invest">
                    </div>

                    <div class="ui form">
                        <div class="inline fields">
                            <label id="work"><b>Services Needed</b></label>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input value="1" type="checkbox" id="carpentry">
                                    <label>Carpentry</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input value="2" type="checkbox" id="decoration">
                                    <label>Decoration</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input value="3" type="checkbox" id="rebuild">
                                    <label>Rebuild</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input value="4" type="checkbox" id="plumbing">
                                    <label>Plumbing</label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input value="5" type="checkbox" id="electrical">
                                    <label>Electrical</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input value="6" type="checkbox" id="cleaning">
                                    <label>Cleaning</label>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input value="7" type="checkbox" id="locksmith">
                                        <label>Locksmith</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input class="btn-success" type="reset"
                           style="background-color: #f48d8a; border-color: #f48d8a" type="Reset">
                <button id="btn" class="btn-success"
                        style="background-color: #86cfc6; border-color: #86cfc6">Submit</button>


                </form>

            </div>
        </div>

            <footer>

            </footer>
        </div>
    </div>
</body>
</html>